{% extends 'admin_base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block titre %}Fiche Genre{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ genre.libelle }}</td>
            </tr>
            <tr>
                <th>Mots clés</th>
                <td>{{ genre.motsCles }}</td>
            </tr>

            <tr>
                <th>Livres</th>
                <td>
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>ID - Titre - Auteur</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for livre in genre.livres %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_admin_livre_show', {id: livre.id}) }}">{{ livre.titreComplet }}</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><div class="alert alert-info">Aucun livre trouvé</div></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    {{ include('admin/_communs/ligne_boutons.html.twig', {entite: genre})}}
{% endblock %}
