{% extends "base.html.twig" %}

{% block body %}

Calcul : 

{# <p>{{ nb1 }} x {{ nb2 }} = {{ resultat }}</p>
<p>{{ nb1 }} x {{ nb2 }} = {{ nb1 * nb2 }}</p>
<p>{{ nb1 ~ " x " ~ nb2 ~ " = " ~ nb1 * nb2 }}</p> #}
    <ul>
        <li>{{ nb1 ~ " + " ~ nb2 ~ " = " ~ (nb1 + nb2) }}</li>
        <li>{{ nb1 ~ " - " ~ nb2 ~ " = " ~ (nb1 - nb2) }}</li>
        <li>{{ nb1 ~ " x " ~ nb2 ~ " = " ~ (nb1 * nb2) }}</li>
        
        {% if nb2 == 0 %}
            <li><div class="alert alert-danger">Division par 0 impossible</div></li>
        {% else %}
            <li>{{ nb1 ~ " / " ~ nb2 ~ " = " ~ (nb1 / nb2) }}</li>
        {% endif %}

    </ul>

    {% if nb1 == nb2 %}
        <div class="alert alert-info">Les 2 nombres sont identiques</div>
    {% elseif nb1 > nb2 %}
        <div class="alert alert-success">Le 1<sup>er</sup> nombre est supérieur au 2<sup>ième</sup></div>
    {% elseif nb1 < nb2 %}
        <div class="alert alert-success">Le 1<sup>er</sup> nombre est inférieur au 2<sup>ième</sup></div>
    {# {% else %}
        <div class="alert alert-warning">Les 2 nombres sont différents</div> #}
    {% endif %}

{% endblock %}





{# le caractère ~ (tilde) est l'opérateur de concaténation de TWIG #}