{% extends 'admin_base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block titre %}Fiche Livre{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ livre.resume }}</td>
            </tr>
            <tr>
                <th>Couverture</th>
                <td>
                    {% if livre.couverture %}
                        <img src="{{ chemin_couvertures ~ livre.couverture }}" alt="pas de couverture" class="miniature">
                    {% else %}
                        <div class="alert alert-warning">couverture du livre {{livre.titre }} manquante</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur.identite }}</td>
            </tr>
            <tr>
                <th>Genres</th>
                <td>{{ livre.genresTexte }}</td>
            </tr>
        </tbody>
    </table>

    {{ include("admin/_communs/ligne_boutons.html.twig", {entite: livre}) }}
{% endblock %}
