{% extends 'admin_base.html.twig' %}

{% block title %}Liste des Abonnés{% endblock %}

{% block titre %}Liste des Abonnés{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Accréditation</th>
                <th>Identité</th>
                <th>Naissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonne in abonnes %}
            <tr>
                <td>{{ abonne.id }}</td>
                <td>{{ abonne.pseudo }}</td>
                <td>
                {% for role in abonne.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        Directeur
                    {% elseif role == "ROLE_LECTEUR" %}
                        Lecteur
                    {% elseif role == "ROLE_BIBLIO" %}
                        Bibliothécaire
                    {% elseif role == "ROLE_DEV" %}
                        Développeur
                    {% elseif role == "ROLE_USER" %}
                        Abonné
                    {% endif %}
                    {% if not loop.last %},{% endif %}
                    
                {% endfor %}
                </td>
                <td>{{ abonne.identite }}</td>
                <td>{{ abonne.naissance ? abonne.naissance|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_abonne_show', {'id': abonne.id}) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('app_admin_abonne_edit', {'id': abonne.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_abonne_new') }}">Create new</a>
{% endblock %}
